.sup{
    display:none;
}
.menu{
    display: none;
}
@media (max-width: 420px){
    .navbar{
        width: 100%;
        padding:30px 20px  !important;
    }
    .main-nav{
        width: 100%;
        background-color:#1FA2C6 ;
        color: #fff !important;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        padding: 25px 20px;
    }
    .main a{
        font-size: 22px;
        transition: all 0.3s ease;
    }
    .main a:hover{
        color:  hsl(193, 73%, 85%);

    }
    .one{
        color: #fff ;
    }
    .menu{
        display: block;
    }
    .sup{
        position:absolute ;
        font-weight: 700;
        top: 10px;
        right: 20px;
        display: block;
    }
}